<%= link_to 'New Note', new_note_path %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
      <h2>All Notes</h2>
      <% @notes.each do |note| %>
      <ul>
        <li><%= note.body %>  <%= note.user.email %> <%= link_to 'Delete', note_path(note), method: :delete %></li>
        <li>
          <% if current_user %>
            <%= pluralize(note.likes.count, 'like') %>
            <% unless note.likes.find_by(user_id: current_user.id).present? %>
              <%= link_to 'Like', like_note_path(note), method: :post %>
            <% else %>
              <%= link_to 'Unlike', unlike_note_path(note), method: :delete %>
            <% end %>
          <% end %>
        </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Back', root_path %>
