<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 table">
      <h2>All Notes</h2>
      <%= link_to 'New Note', new_note_path %>
      <% @notes.each do |note| %>
      <ul>
        <li><%= link_to note.user.email, user_path(note.user)%> </li>
        <li><%= note.body %></li>
        <% if note.user == current_user %>
          <li><%= link_to 'Delete', note_path(note), method: :delete %> <%= link_to 'Update', edit_note_path(note) %></li>
        <% end %>
        <li>
          <% if current_user %>
            <%= pluralize(note.likes.count, 'like') %>
            <% unless note.likes.find_by(user_id: current_user.id).present? %>
              <%= link_to 'Like', like_note_path(note), method: :post %>
            <% else %>
              <%= link_to 'Unlike', unlike_note_path(note), method: :delete %>
            <% end %>
          <% end %>
        </li>
        </ul>
      <% end %>
      <button type="button" class="btn btn-info active"><%= link_to 'Back', root_path %></button>
    </div>
  </div>
</div>
